<template>
    <div class="">
        <form class="my-3" @submit.prevent="addEmployee">
            <h4>{{ btnStatus }} Employee</h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" v-model="employee.name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Profession" v-model="employee.profession">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-sm">
                    <span>{{ btnStatus }}</span>
                </button>
            </div>
        </form>
        <h4 class="my-4">All Employees</h4>

        <div class="card card-body mb-3" :key="employee.id" v-for="employee in employees">
            <h4>Name: {{ employee.name }}</h4>
            <p>Profession: {{ employee.profession }}</p>
            <hr/>
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-primary btn-block" @click.prevent="editEmployee(employee)">Edit</button>
                </div>

                <div class="col-sm-6">
                    <button class="btn btn-danger btn-block" @click.prevent="deleteEmployee(employee.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            employees: [],
            employee_id: '',
            edit: false,
            employee: {
                id: '',
                name: '',
                profession: '',
            },
            btnStatus: 'Add',
        }
    },

    created() {
        this.fetchEmployees();
    },

    methods: {
        fetchEmployees(){
            fetch('api/employees', {
                method: 'get',
            })
            .then((res) => res.json())
            .then(response => this.employees = response.data)
            .catch(err => alert(err));
        },

        addEmployee() {
            if(this.employee.name == '' || this.employee.profession == ''){
                alert('Fill all fields'); return;
            }
                let formData = new FormData();
                formData.append('name', this.employee.name);
                formData.append('profession', this.employee.profession);

            if(this.edit === false){
                //add new
                fetch('api/employee', {
                    method: 'post',
                    body: formData,
                })
                .then(res => res.json())
                .then(response => {
                    this.employee.name = '';
                    this.employee.profession = '';

                    this.fetchEmployees();
                    alert('Employee Added');
                })
                .catch(err => console.log(err));

            }else{
                formData.append('_method', "PUT");
                //update
                fetch(`api/employee/${this.employee.id}`, {
                    method: 'post',
                    body: formData,
                })
                .then(res => res.json())
                .then(response => {
                    this.employee.name = '';
                    this.employee.profession = '';
                    this.edit = false;
                    this.btnStatus = 'Submit';
                    this.fetchEmployees();
                    alert('Employee Updated');
                })
                .catch(err => console.log(err));
            }
        },

        deleteEmployee(id){
            if(confirm('Delete Employee?')){
                fetch(`api/employee/${id}`, {
                    method: 'delete',
                    mode: 'no-cors'
                })
                .then(res => res.json())
                .then(response => {
                    this.fetchEmployees();
                    alert('Employee Deleted');
                })
                .catch(err => console.log(err));
            }

        },

        editEmployee(employee){
            this.edit = true;
            this.btnStatus = 'Update';
            this.employee.id = employee.id;
            this.employee_id = employee.id;
            this.employee.name = employee.name;
            this.employee.profession = employee.profession;
        }
    }
}
</script>

