<template>
    <nav class="navbar-expand-sm navbar-dark bg-info pt-2 mb-2">
        <div class="container">
            <a href="#" class="navbar-brand">
                <h4>Employees</h4>
            </a>
        </div>
    </nav>
</template>
